@model Providencia.Entidades.PRV_TIPO_DE_FAMILIA

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>TIPO DE FAMÍLIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRV_DESCRICAO_TIPO_DE_FAMILIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRV_DESCRICAO_TIPO_DE_FAMILIA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PRV_ID_TIPO_DE_FAMILIA }) |
    @Html.ActionLink("Voltar", "Index")
</p>
