@model Providencia.Entidades.PRV_TIPO_MORADIA

@{
    ViewBag.Title = "Delete";
}

<h2></h2>

<h3>Tem certeza que deseja excluir?</h3>
<div>
    <h4>PRV_TIPO_MORADIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRV_DESCRICAO_TIPO_MORADIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRV_DESCRICAO_TIPO_MORADIA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
