@{
    ViewBag.Title = "";
}
<div align="center">
    <a href="@Url.Action("Index", "Home")">
        <img src="~/Image/prov.png" alt="Projeto Providência" />
    </a>
</div>
<div class="jumbotron">
    <h2>PROJETO PROVIDÊNCIA</h2>
    <p class="lead">Educar para a vida, favorecendo o desenvolvimento.</p>
    <p>
        <a href="http://projetoprovidencia.org" class="btn btn-primary btn-lg" target="_blank">Visite o site &raquo;</a>

        @*<a href="@Url.Action("Index", "Home")">
                <img src="~/Image/prov.png" alt="Projeto Providência" />
            </a>*@
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Missão</h2>
        <p>
            Educar para a vida crianças, adolescentes e Jovens em situação de risco social,
            favorecendo o desenvolvimento integral e o exercício da cidadania.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Visão</h2>
        <p>Ser referência no atendimento e valorização Humana de crianças, adolescentes e jovens em risco social..</p>
    </div>
    <div class="col-md-3">
        <h2>Valores</h2>
        <p>
            01. Compromisso<br />
            02. Confiança<br />
            03. Dedicação<br />
            04. Determinação<br />
            05. Dinamismo<br />
            06. Fé e esperança<br />
            07. Liberdade<br />
            08. Ousadia<br />
            09. Respeito<br />
            10. Responsabilidade<br />
            11. Simplicidade<br />
            12. Transparência.
        </p>
        @*<table width="292" >
                <tr>
                    <th>01. Compromisso</th>
                    <th>02. Confiança</th>
                    <th>03. Dedicação</th>
                    <th>04. Determinação</th>
                    <th>05. Dinamismo</th>
                    <th>06. Fé e esperança</th>
                </tr>
                <tr>
                    <th>07. Liberdade</th>
                    <th>08. Ousadia</th>
                    <th>09. Respeito</th>
                    <th>10. Responsabilidade</th>
                    <th>11. Simplicidade</th>
                    <th>12. Transparência</th>
                </tr>
            </table>*@
    </div>
    <div class="col-md-3">
        <h2>Causa</h2>
        <p>Educar para vida, cuidando do ser humano, com inclusão social.</p>
    </div>
</div>